.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-sm);
}

.alertGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-sm);
}

.alertGrid > :last-child:nth-child(odd) {
  grid-column: 1 / -1;
}
